{{ define "main" }}
    <div class="shmoergh-grid">
        {{partial "shmoergh-box.html" (dict "logoclass" "purple")}}
        {{partial "shmoergh-box.html" (dict "logoclass" "mint")}}
        {{partial "shmoergh-box.html" (dict "logoclass" "purple")}}
        {{partial "shmoergh-box.html" (dict "logoclass" "mint")}}
        {{partial "shmoergh-box.html" (dict "logoclass" "lightgrey")}}
        {{partial "shmoergh-box.html" (dict "logoclass" "black")}}
        {{partial "shmoergh-box.html" (dict "logoclass" "lightgrey")}}
        {{partial "shmoergh-box.html" (dict "logoclass" "black")}}
        {{partial "shmoergh-box.html" (dict "logoclass" "purple")}}
        {{partial "shmoergh-box.html" (dict "logoclass" "mint")}}
        {{partial "shmoergh-box.html" (dict "logoclass" "purple")}}
        {{partial "shmoergh-box.html" (dict "logoclass" "mint")}}
        {{partial "shmoergh-box.html" (dict "logoclass" "lightgrey")}}
        {{partial "shmoergh-box.html" (dict "logoclass" "black")}}
        {{partial "shmoergh-box.html" (dict "logoclass" "lightgrey")}}
        {{partial "shmoergh-box.html" (dict "logoclass" "black")}}
    </div>
{{ end }}