@font-face {
    font-family: "Jetbrains";
    src: url("/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype-variations");
}

body {
    height: 100vh;
    background: #1E0D8A;
    font-family: "Jetbrains";
}

.shmoergh-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100vw;
    height: 100vh;
    z-index: 999;
}

#content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    color: #FF5400;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.logo .full-logo {
    width: auto;
    height: auto;
    max-height: 3vh;
    margin-top: -0.5vw;
}

.logo .gyeszno {
    display: none;
}

.logo:hover .gyeszno {
    display: block;
    max-width: 50vw;
    max-height: 40vh;
}

.logo:hover .full-logo {
    display: none;
}

.logo.pink {
    background: #DF65B2;
    color: #62FFDD;
}

.logo.purple {
    background: #9365DF;
    color: #62FFDD;
}

.logo.mint {
    background: #72EFD4;
    color: #251221;
}

.logo.black {
    background: #251221;
    color: #FFF;
}

.logo.lightgrey {
    background: #F0F0F0;
    color: #8C45FF;
}

.bg-gyeszno {
    color: #fff;
}

.bg-gyeszno svg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    height: auto;
    z-index: 1;
}

@media (max-width: 1280px) {
    .shmoergh-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .logo:nth-of-type(3),
    .logo:nth-of-type(4),
    .logo:nth-of-type(n+7) {
        display: none;
    }

    .logo .full-logo {
        max-height: 4vh;
    }
}

@media (max-width: 600px) {
    .shmoergh-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    .logo .full-logo {
        max-width: 60vw;
        max-height: unset;
        height: auto;
    }
}

.concept-container {
    background: #fff;
    margin: 20px;
}

h1 {
    margin: 0;
    font-size: 28px;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
}

.concept-container hr {
    border: none;
    border-bottom: 2px solid #000;
}

a {
    text-decoration: none;
    color: #000;
}

.concept-container a {
    display: block;
}

.concept-container a:hover {
    background: #62FFDD;
}